body{
	font-family: sans-serif;
	margin: 0;
	color: #fff;
	margin-top: 15px;
}
.container{
	max-width: 428px;
	margin: 0 auto;
	background-color: #313438;
	/*min-height: 100vh;*/
}
.header{
	display: flex;
	justify-content: space-evenly;
	background: linear-gradient(90deg, rgba(66,159,124,1) 0%, rgba(161,193,78,1) 100%);
	padding: 2em 0;
	align-items: center;
}

.contact-search{
	font-size: 1.2em;
	padding: .3em;
	border-radius: 100px;
	border: 1px solid #fff;
	outline: none;
}
i{
	font-size: 1.5em;
}

.contact-name{
	font-size: 1.2em;
}

ul{
	padding: 0;
	margin: 0;
	width: 100%;
}
hr{
	border: 1px solid grey;
}

.list_item{
	list-style-type: none;
}

.relationship{
	width: 6em;
	text-align: center;
	padding: 2px;
	border-radius: 100px;
	border-top-left-radius: 0;
	background-color: #75a853;
	font-size: .8em;
}

.contact-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.5em;
	transition:  0.5s;
}

.contact-section:hover{
	background-color: #48494a;
}

.text{
	padding-left: 1em;
}

a{
	text-decoration: none;
	color: #fff;
}

